In [1]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
!pip install nbformat==4.2.0

Collecting yfinance==0.1.67
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: pandas>=0.24 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.3.5)
Requirement already satisfied: requests>=2.20 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (4.9.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2022.6)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (3.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.16.0)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.67

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/r/linux-64          [<=>                 ] (00m:00s)
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s)
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [<=>                 ] (00m:00s)
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s)
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 424 KB / ?? (1.35 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s) Finalizing...
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s) Done
pkgs/main/noarch         [====================] (00m:00s) Done
pkgs/r/linux-64          [=>                ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 696 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.96 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.96 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 388 KB / ?? (1.24 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.96 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.96 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 760 KB / ?? (2.42 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.96 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (3.21 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Finalizing...
pkgs/r/noarch            [<=>               ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (3.21 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Done
pkgs/r/noarch            [<=>               ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (3.21 MB/s)
pkgs/r/linux-64          [====================] (00m:00s) Done
pkgs/r/noarch            [<=>               ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (3.21 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 1 MB / ?? (3.21 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.49 MB/s)
pkgs/r/noarch            [ <=>              ] (00m:00s) 828 KB / ?? (1.77 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.49 MB/s)
pkgs/r/noarch            [  <=>               ] (00m:00s) 1 MB / ?? (2.00 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.49 MB/s)
pkgs/r/noarch            [  <=>               ] (00m:00s) Finalizing...
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.49 MB/s)
pkgs/r/noarch            [  <=>               ] (00m:00s) Done
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.49 MB/s)
pkgs/r/noarch            [====================] (00m:00s) Done
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.49 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 2 MB / ?? (3.49 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 3 MB / ?? (3.74 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 3 MB / ?? (3.74 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 4 MB / ?? (3.97 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (3.97 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (4.14 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) Finalizing...
pkgs/main/linux-64       [     <=>            ] (00m:00s) Done
pkgs/main/linux-64       [====================] (00m:00s) Done

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - bs4==4.10.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build           Channel                  Size
────────────────────────────────────────────────────────────────────────────────
  Install:
────────────────────────────────────────────────────────────────────────────────

  + bs4                  4.10.0  hd3eb1b0_0      pkgs/main/noarch        10 KB

  Change:
────────────────────────────────────────────────────────────────────────────────

  - certifi           2022.9.24  pyhd8ed1ab_0    installed
  + certifi           2022.9.24  py37h06a4308_0  pkgs/main/linux-64     154 KB
  - openssl              1.1.1s  h0b41bf4_1      installed
  + openssl              1.1.1s  h7f8727e_0      pkgs/main/linux-64       4 MB

  Upgrade:
────────────────────────────────────────────────────────────────────────────────

  - ca-certificates   2022.9.24  ha878542_0      installed
  + ca-certificates  2022.10.11  h06a4308_0      pkgs/main/linux-64     124 KB

  Downgrade:
────────────────────────────────────────────────────────────────────────────────

  - beautifulsoup4       4.11.1  pyha770c72_0    installed
  + beautifulsoup4       4.10.0  pyh06a4308_0    pkgs/main/noarch        85 KB

  Summary:

  Install: 1 packages
  Change: 2 packages
  Upgrade: 1 packages
  Downgrade: 1 packages

  Total download: 4 MB

────────────────────────────────────────────────────────────────────────────────

Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [>                                                      ] (--:--)
Finished bs4                                  (00m:00s)              10 KB     63 KB/s
Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [>                                        ] (00m:00s)  569.47 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Finished beautifulsoup4                       (00m:00s)              85 KB    509 KB/s
Downloading  [>                                        ] (00m:00s)  569.47 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [>                                        ] (00m:00s)  569.47 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [>                                        ] (00m:00s)  569.47 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [==>                                      ] (00m:00s)    1.25 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Finished ca-certificates                      (00m:00s)             124 KB    729 KB/s
Downloading  [==>                                      ] (00m:00s)    1.25 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [==>                                      ] (00m:00s)    1.25 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    2.09 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    2.09 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    2.09 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Finished certifi                              (00m:00s)             154 KB    884 KB/s
Downloading  [===>                                     ] (00m:00s)    2.09 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    2.09 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    2.09 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [===>                                     ] (00m:00s)    2.09 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [===>                                     ] (00m:00s)    2.09 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   17.58 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Finished openssl                              (00m:00s)               4 MB     16 MB/s
Downloading  [=========================================] (00m:00s)   17.58 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   17.58 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   17.58 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   17.58 MB/s
Extracting   [=========================================] (00m:00s)        5 / 5
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting nbformat==4.2.0
  Downloading nbformat-4.2.0-py2.py3-none-any.whl (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.3/153.3 kB 15.0 MB/s eta 0:00:00
Requirement already satisfied: jupyter-core in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (4.12.0)
Requirement already satisfied: traitlets>=4.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (5.6.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (4.17.3)
Requirement already satisfied: ipython-genutils in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (0.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (5.10.1)
Requirement already satisfied: attrs>=17.4.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (22.1.0)
Requirement already satisfied: typing-extensions in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (4.4.0)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (1.3.10)
Requirement already satisfied: importlib-metadata in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (4.11.4)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.19.2)
Requirement already satisfied: zipp>=3.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (3.11.0)
Installing collected packages: nbformat
  Attempting uninstall: nbformat
    Found existing installation: nbformat 5.7.0
    Uninstalling nbformat-5.7.0:
      Successfully uninstalled nbformat-5.7.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbconvert 7.2.6 requires nbformat>=5.1, but you have nbformat 4.2.0 which is incompatible.
nbclient 0.7.2 requires nbformat>=5.1, but you have nbformat 4.2.0 which is incompatible.
jupyter-server 1.23.3 requires nbformat>=5.2.0, but you have nbformat 4.2.0 which is incompatible.
Successfully installed nbformat-4.2.0

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [4]:
x=yf.Ticker("TSLA")

In [5]:
x

yfinance.Ticker object <TSLA>

In [6]:
y=x.history(period="Max")

In [7]:
y

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,281494500,0,0.0
2010-06-30,1.719333,2.028000,1.553333,1.588667,257806500,0,0.0
2010-07-01,1.666667,1.728000,1.351333,1.464000,123282000,0,0.0
2010-07-02,1.533333,1.540000,1.247333,1.280000,77097000,0,0.0
2010-07-06,1.333333,1.333333,1.055333,1.074000,103003500,0,0.0
...,...,...,...,...,...,...,...
2022-12-12,176.100006,177.369995,167.520004,167.820007,109794500,0,0.0
2022-12-13,174.869995,175.050003,156.910004,160.949997,175862700,0,0.0
2022-12-14,159.250000,161.619995,155.309998,156.800003,140682300,0,0.0
2022-12-15,153.440002,160.929993,153.279999,157.669998,122334500,0,0.0
2022-12-16,159.639999,160.990005,150.039993,150.229996,138459600,0,0.0

In [8]:
y.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,281494500,0,0.0
2010-06-30,1.719333,2.028000,1.553333,1.588667,257806500,0,0.0
2010-07-01,1.666667,1.728000,1.351333,1.464000,123282000,0,0.0
2010-07-02,1.533333,1.540000,1.247333,1.280000,77097000,0,0.0
2010-07-06,1.333333,1.333333,1.055333,1.074000,103003500,0,0.0

In [79]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'
html_data = requests.get(url).text

In [81]:
soup=BeautifulSoup(page,"html.parser")

In [82]:
tesla_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup.find_all('table'):

    if ('Tesla Quarterly Revenue' in table.find('th').text):
        rows = table.find_all('tr')
        
        for row in rows:
            col = row.find_all('td')
            
            if col != []:
                date = col[0].text
                revenue = col[1].text.replace(',','').replace('$','')

                tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

In [84]:
tesla_revenue

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [83]:
 tsla_data .head()

   Date Revenue
0  2020  $6,466
1  2019  $8,285
2  2018  $8,547
3  2017  $7,965
4  2016  $9,364

In [86]:
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'].astype(bool)]
esla_revenue.tail()

NameError: name 'esla_revenue' is not defined

In [46]:
x=yf.Ticker("GME")

In [47]:
x

yfinance.Ticker object <GME>

In [48]:
x.info

{'regularMarketPrice': None, 'preMarketPrice': None, 'logo_url': ''}

In [49]:
y=x.history(period="Max")

In [50]:
y

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
2002-02-14,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2002-02-15,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
2002-02-19,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
2002-02-20,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-12,22.660000,23.150000,22.180000,22.670000,3750800,0.0,0.0
2022-12-13,23.549999,23.700001,20.830000,21.000000,6305600,0.0,0.0
2022-12-14,21.190001,22.000000,21.010000,21.049999,4604800,0.0,0.0
2022-12-15,20.740000,21.440001,20.240000,20.580000,6444500,0.0,0.0
2022-12-16,20.480000,21.120001,20.010000,20.799999,9372700,0.0,0.0

In [51]:
y.reset_index(inplace=True)

In [52]:
y

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0
...,...,...,...,...,...,...,...,...
5244,2022-12-12,22.660000,23.150000,22.180000,22.670000,3750800,0.0,0.0
5245,2022-12-13,23.549999,23.700001,20.830000,21.000000,6305600,0.0,0.0
5246,2022-12-14,21.190001,22.000000,21.010000,21.049999,4604800,0.0,0.0
5247,2022-12-15,20.740000,21.440001,20.240000,20.580000,6444500,0.0,0.0
5248,2022-12-16,20.480000,21.120001,20.010000,20.799999,9372700,0.0,0.0

In [53]:
y.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [62]:
x=requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html").text

In [63]:
soup=BeautifulSoup(page,"html.parser")

In [65]:
gme = pd.DataFrame(columns=["Date", "Revenue"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Revenue = col[1].text
    
    # Finally we append the data of each row to the table
    gme= gme.append({"Date":date, "Revenue":Revenue}, ignore_index=True)

In [67]:
gme.head()

   Date Revenue
0  2020  $6,466
1  2019  $8,285
2  2018  $8,547
3  2017  $7,965
4  2016  $9,364

In [68]:
gme.tail()

    Date Revenue
11  2009  $8,806
12  2008  $7,094
13  2007  $5,319
14  2006  $3,092
15  2005  $1,843

In [75]:
make_graph(tesla_revenue[['Date','Close']], tesla_revenue, 'Tesla')

KeyError: "['Close'] not in index"

In [78]:
make_graph(gme[['Date','Close']], gme_revenue, 'GameStop')

KeyError: "['Close'] not in index"